html {
  margin: 0;
  height: 100vh;
  font-family: 'Helvetica', 'Arial';
}

body {
  margin: 0;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: auto;
  background: #E9EDEC;
  margin: 0px 0px 0px 0px;
}

#top-navigation-header {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 100%;
  background: #A8EBBB;
}

#top-nav-header-list {
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;
}

#top-nav-header-list li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: 'Helvetica', 'Arial';
  font-weight: 900;
  padding: 1em 1em 1em 1em;
  width: 10vw;
  height: auto;
}

#top-nav-header-list li a:hover {
  background: #B7FFCB;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: flex;
  flex-direction: column;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background: #A8EBBB;
  z-index: 1;
}

.landing-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 7vh;
  height: 100vh;
  width: 100vw;
}

.display-container {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 3em;
  font-weight: 800;
}

.three-panel-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.hero-banner {
  display: flex;
  align-items: center;
}

.information-panel {
  height: 30vh;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
}

.information-panel-header {
  width: 100%;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: white;
  color: black;
  text-align: center;
  font-size: 1.25em;
  padding: 0.5em 0 0.5em 0;
}

.information-panel-content {
  height: 80%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.item-gallery {
  position: relative;
  top: 6vh;
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  background: #EBEFEE;
  padding: 1em;
}

.merchandise-list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.merchandise-list li {
  color: white;
  font-family: 'Helvetica', 'Arial';
  font-weight: 800;
  padding: 1em;
}

.merchandise {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
  width: 40vh;
  background: rgba(65, 138, 182, .5);
  padding: 1em;
  border-radius: 0.5em;
  margin: 0.25em;
}

.merchandise-image {
  height: 80%;
  width: 80%;
}

.merchandise:hover {
  background: rgba(65, 138, 182, .9);
}

.merchandise-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #E9EDEC;
}

#merchandise-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-content: center;
  height: 100vh;
  width: 50vw;
}

#merchandise-media {
  height: 100vh;
  width: 50vw;
}

.merchandise-focused {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  font-family: 'Helvetica', 'Arial';
  font-weight: 800;
  width: 40vh;
  height: 40vh;
  border-radius: 1em;
  background: #F97B64;
  color: white;
}

.checkout-container {
  margin-top: 3em;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.button-segment {
  text-decoration: none;
  color: white;
  font-family: 'Helvetica', 'Arial';
}

.zoom {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 10px;
     -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	}

.zoom:hover {
    position: relative;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1000;
	}

.push {
  margin-bottom: 10vh;
}

input[type="tel"] {
  -webkit-appearance: none;
  width: 80%;
  border: 1px solid #333;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="tel"]:focus {
  border: 1px solid #000;
}
input[type="card"] {
  -webkit-appearance: none;
  width: 80%;
  border: 1px solid #333;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="card"]:focus {
  border: 1px solid #000;
}

body {
  font: 1em sans-serif;
  padding: 0;
  margin : 0;
}

form {
  width: 60vw;
  display: flex;
  justify-content: space-around;
}

p * {
  display: block;
}

input[type=email]{
  -webkit-appearance: none;
  width: 80%;
  border: 1px solid #333;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus:invalid {
  outline: none;
}

.error {
  width  : 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

.form-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type=text], input[type=email], input[type="card"], input[type="number"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.blue {
  background: #418AB6;
}

.yellow {
  background: #F9E48B;
}

.red {
  background: #F97B64;
}

.grey {
  background: #E9EDEC;
}

.mint {
  background: #B7FFCB;
}

.third {
  width: 28vw;
}

/*
EBEFEE - White
418AB6 - Blue
F97B64 - Red
F9E48B - Yellow
E9EDEC - Grey
*/
